/examples/depedencies/buff
/examples/depedencies/iocmd
/examples/stm32f103/tripple_vcom/build
/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103c8t6_bluepill/
!/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103c8t6_bluepill/tripple_vcom_stm32f103c8t6_bluepill.ioc
!/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103c8t6_bluepill/.mxproject
/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103rbt6/
!/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103rbt6/tripple_vcom_stm32f103rbt6.ioc
!/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103rbt6/.mxproject
/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103zet6/
!/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103zet6/tripple_vcom_stm32f103zet6.ioc
!/examples/stm32f103/tripple_vcom/stm32cubemx_generated_stm32f103zet6/.mxproject

/examples/stm32f103/bootloader_dfu/build
/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103c8t6_bluepill/
!/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103c8t6_bluepill/tripple_vcom_stm32f103c8t6_bluepill.ioc
!/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103c8t6_bluepill/.mxproject
/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103rbt6/
!/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103rbt6/tripple_vcom_stm32f103rbt6.ioc
!/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103rbt6/.mxproject
/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103zet6/
!/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103zet6/tripple_vcom_stm32f103zet6.ioc
!/examples/stm32f103/bootloader_dfu/stm32cubemx_generated_stm32f103zet6/.mxproject

*.gcda
*.gcno
*.lst
crt0_STM32x.c
stm32f10x_conf.h

usbd/tests/dev_test/test/test
usbd/tests/event_test/test/test
usbd/tests/io_test/test/test
usbd/tests/iotp_buff_test/iocmd_iotp_test/test
usbd/tests/iotp_event_test/iocmd_iotp_test/test
usbd/tests/request_test/integration/test
usbd/tests/request_test/unit/test
